# System Files
.DS_Store
*.pem

# Dependencies
node_modules/
npm-debug.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Local Files
.env*.local

# TypeScript
*.tsbuildinfo
